/*
  Main styles
*/

html, body {
  font-family: 'Roboto', sans-serif;
}

/* Header styles */
.navbar {
  padding: 0 1rem;
}

.navbar-dark .navbar-brand {
  background: #ff5964;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-style: italic;
}

.jiffy-btn {
  background: #ff5964;
  font-weight: 700;
  letter-spacing: 1px;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
}

.yt-vid-input {
  width: 500px !important;
}

/* Main styles */
.main {
  padding: 1em;
}