/*
  Main styles
*/

html, body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

/* Header styles */
.jiffy-btn {
  background: #ff5964;
  font-weight: 700;
  letter-spacing: 1px;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
}

.download-btn {
  margin-top: 15px;
}

.yt-vid-form {
  width: 100%;
}

.yt-vid-input {
  flex: 1;
}

/* Main styles */
.main {
  padding: 1em;
  flex: 1;
}

.result img {
  max-width: 100%;
}

/* Youtube Vid Preview */
.youtube-preview {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.youtube-vid-iframe {
  flex: 1;
}

/* Progress bar styles */
.progress {
  margin-top: 15px;
}

.bg-download {
  background: #45d0ff;
}

.bg-conversion {
  background: #73ff45;
}

/* Utility */
.flex {
  display: flex;
}